[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = 135ab5cf71ed731fc9fa0653051e7d4884a3652f
[submodule "deps/rxcpp"]
	path = deps/rxcpp
	url = https://github.com/Reactive-Extensions/RxCpp.git
